.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
        = link_to new_group_path do
          = fa_icon 'edit', class: "side-header__box__menu__btn--icon"
        %li.side-header__box__menu__edit-user
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
        
  .groups
    .group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
          nekoneko
    =link_to "" do
      .main-header__edit-btn
        Edit
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = fa_icon 'picture-o', class: 'icon-image'
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'


-# 以下復習用
  -#       .form
  -#   %form.new_message
  -#     .input-box
  -#       %input.input-box__text{ placeholder: "type a message", type: "text"}
  -#       %label.input-box__image
  -#         %input.input-box__image__file{ type: "file"}
  -#         = fa_icon 'image', class: "icon-image"
  -#     %input.submit-btn{name: "commit", type: "submit", value: "Send"}/

  -# .form
  -#   = form_for [@group, @message] do |f|
  -#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
  -#     .form__mask
  -#       = f.label :image, class: 'form__mask__image' do
  -#         = fa_icon 'picture-o', class: 'icon'
  -#         = f.file_field :image, class: 'hidden'
  -#     = f.submit 'Send', class: 'form__submit'
